.tamaño-img{
    width : 200px; 
    height: 130px;
    border-radius: 5px;

}

.padre{
    display: flex;
    flex-direction: row;
    justify-content :space-between;
}

a{
    color: white;
}

.links {
   text-decoration: none;
   color: black;
   background-color: white;
   text-align: center;
   border-radius: 5px;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
   transition: all 0.25s ;
}

.links:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
}

.imagen{
    width : 100%;
    height: auto;
}